.navbar {
  background: linear-gradient(#130f40, #313233);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  /* Slightly darker shadow */
  position: absolute;
  width: 100%;
  height: 930px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: topToBottom 0.5s ease-in-out;
  flex-direction: column;
  
}

@keyframes topToBottom {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.room-detail-top {
  width: 315%;
}

.carousel-container {
  max-width: 445px;
  height: auto;
  display: flex;
  position: absolute;
  left: 25px;
  top: 25px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background: linear-gradient(145deg, #34495E, #2C3E50);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  flex: 1;
  z-index: -1000;
}

.carousel-container:hover {
  transform: scale(1.05);
  /* Slightly enlarge on hover */
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.6);
  /* Darker and larger shadow on hover */
}

.carousel .slide img {
  height: auto;
  object-fit: cover;
  border-radius: 15px;
  /* Ensure images have matching border-radius */
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);
  /* Shadow effect for images */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  /* Add transition effects */
  z-index: -1000;
}

.carousel .slide img:hover {
  transform: scale(1.1);
  /* Slightly enlarge image on hover */
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4);
  /* Darker and larger shadow on hover */
}

/* Style for carousel buttons */
.carousel-button {
  width: 40px;
  height: 40px;
  background-color: #2980B9;
  /* Blue background color */
  border: none;
  /* Remove default button border */
  border-radius: 50%;
  /* Make the button round */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  /* Add shadow effect */
  color: white;
  /* White icon color */
  font-size: 18px;
  /* Increase icon size */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* Change cursor to pointer on hover */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  /* Add transition effects */
  position: absolute;
  /* Position absolutely */
  top: 50%;
  /* Center vertically */
  transform: translateY(-50%);
  /* Center vertically */
  z-index: -1000;
}

.carousel-button:hover {
  transform: scale(1.1);
  /* Slightly enlarge button on hover */
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
  /* Darker and larger shadow on hover */
}

.carousel-button:active {
  transform: scale(0.9);
  /* Slightly shrink button on active state */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  /* Reduce shadow on active state */
}



.introduce-right {
  text-align: left;
  padding-left: 265px;
  padding-bottom: 200px;
  background-color: #f9f9f900;
  margin: 20px auto;
  /* Di chuyển phần tử lên trên để cách navbar */
  max-width: 115 0px;
  margin-top: 50px;
  max-width: 1150px;
}

.introduce-right .line-home {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(145deg, #00040e, #336666);
  overflow: hidden;
  margin-top: -110px;
  margin-bottom: -50px;
}

.introduce-right .line-home .line-slide-home {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  animation: line-slide 1s linear infinite;
  font-size: 25px;
  color: #FFCC33;
}

.introduce-right .line-home .line-slide-home .icon{
  /* display: block; */
  padding: 10px;
  height: 50px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  color: black;
  color-scheme: black;
  /* Bóng đổ cho hình ảnh png */
  filter: drop-shadow(0 0 1s5px rgba(0, 0, 0, 0.5));
  margin-left: 100px;
}

/* Di chuyển liên tục qua trái */
@keyframes line-slide-home {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-100%);
  }
}

.introduce-right h3 {
  font-size: 24px;
  color: #f5f3f3;
  margin-top: 180px;
  margin-bottom: 20px;
  /* Tăng khoảng cách dòng giữa tiêu đề */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  /* Đổ bóng văn bản */
}

.introduce-right h1,
.introduce-right h2 {
  font-size: 48px;
  color: #0073e6;
  margin: 20px 0;
  /* Tăng khoảng cách trên và dưới cho tiêu đề */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  /* Đổ bóng văn bản */
}

.introduce-right h4 {
  font-size: 18px;
  color: #666;
  line-height: 1.6;
  margin-bottom: 30px;
  text-align: justify;
}

.introduce-right button {
  padding: 12px 24px;
  /* Tăng kích thước của nút */
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #3366FF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  /* Đổ bóng văn bản */
}

.introduce-right button:hover {
  background-color: #99FF00;
  color: #003333;
}

.introduce-right button:active {
  transform: scale(0.9);
  /* Giảm kích thước của nút khi nhấn */
}



.sidebar-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  z-index: 1;
  flex: 1;
}

/* Sidebar styles */
.sidebar {
  width: 100%;
  height: 100%;
  background-color: #34495E;
  /* Darker background for sidebar */
  padding-top: 60px;
  box-shadow: 0px 0 5px rgba(0, 0, 0, 0.2);
  color: #ECF0F1;
  z-index: 1;
  /* Light text for contrast */
}

/* Adding hover effects for interactivity */

.buttonGroup button {
  background-color: #2980B9;
  /* Bright blue for buttons */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.buttonGroup button:hover {
  background-color: #1ABC9C;
  /* Change to teal on hover */
}

/* .right-boxes {
    display: flex;
} */

.box {
  width: 80%;
  height: 100px;
  background-color: #ccc;
}

.user-details-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.user-details {
  width: 22%;
  height: 720px;
  padding: 100px;
  background-color: #FAEBD7;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
}

.user-details img {
  width: 590px;
  height: auto;
  object-fit: cover;
  position: absolute;
  top: 10px;
}

.user-details button {
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 14px;
  left: 360px;
}

.user-details button:hover {
  background-color: #cc0000;
}

.download-details button {
  position: absolute;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #3366FF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 790px;
  bottom: 33px;
}

.download-details button:hover {
  background-color: #99FF00;
  color: #003333;
}

.download-details button:active {
  transform: scale(0.9);
}

.footer {
  margin-top: -100px;
  width: 100%;
  height: 89px;
  background-color: #000000;
  color: #fff;
  text-align: center;
  position: fixed;
  bottom: 0;
  z-index: 1000;
  border-top: 1px solid #7b7a76;
}

.footer a {
  color: #ffa500;
  text-decoration: none;
  margin: 0 10px;
}

.footer a:hover {
  text-decoration: underline;
}

@media  (max-width: 768px) {
  .introduce-right {
    padding-left: 0;
  }

  .introduce-right h3 {
    margin-top: 100px;
  }

  .introduce-right .line-home {
    margin-top: -50px;
  }

  .introduce-right .line-home .line-slide-home {
    font-size: 20px;
  }

  .introduce-right h1,
  .introduce-right h2 {
    font-size: 36px;
  }

  .introduce-right h4 {
    font-size: 16px;
  }

  .introduce-right button {
    font-size: 16px;
  }

  .carousel-container {
    max-width: 300px;
  }

  .carousel .slide img {
    height: 200px;
  }

  .carousel-button {
    width: 30px;
    height: 30px;
    font-size: 14px;
  }

  .introduce-right button {
    padding: 10px 20px;
    font-size: 16px;
  }

  .download-details button {
    font-size: 16px;
  }
  
}